*.class
.settings/
/bin/
loz.png
vernier.png
data/vernier.osm
data/valdahon.osm
v.png
nyon.png
data/nyon.osm
data/Genf.osm.gz
BWR.png
data/N46E007.hgt
data/N46E006.hgt
N46E007.hgt
N46E006.hgt
lausanne.png
lausanne.osm.gz
interlaken.png
interlaken.osm.gz
